<header>
  <h1>Pokemon API Game</h1>

</header>
<nav>
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link" routerLink="/pokemon-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="bi bi-house"></i> POKEMON LIST</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/search"><i class="bi bi-list"></i> POKEMON SEARCH</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/quiz"><i class="bi bi-mortarboard"></i> POKEMON QUIZ</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/location"><i class="bi bi-geo-alt"></i> POKEMON LOCATION</a></li>
  </ul>
</nav>
