<p>pokemon-search works!</p>

<div class="search-container">
  <form>
    <div class="search-criteria">
      <input type="text" placeholder="Search Pokemon..." >

      <div class="radio-group">
        <label>
          <input type="radio" name="searchType" value="name" >
          Search by Name
        </label>

        <label>
          <input type="radio" name="searchType" value="type">
          Search by Type
        </label>

        <label>
          <input type="radio" name="searchType" value="generation">
          Search by Generation
        </label>
      </div>
    </div>

    <button type="submit" >Search</button>
  </form>
</div>

